section.tuyendung-about
	article
		.container-fluid
			.row
				.col
					h2.section-title.mb-0 Tuyển dụng
			.row(bg-img="./img/realplus/tuyendung/tuyendung_bg_1.png").py-4
				.container
					.row.py-4
						.col-lg-6
							.gioithieu-block.text-justify
								h3 Về Real plus
								p Tuy chỉ mới thành lập trong năm nay nhưng mạng lưới bán hàng của RealPlus đã hình thành và có nhiều kinh nghiệm trong việc tư vấn giới thiệu cũng như đã bán nhiều dự án phát triển nhà ở phân khúc trung và cao cấp trong suốt 3 năm qua. 
								p Đối tượng khách hàng mà chúng tôi hướng tới không chỉ nằm trong cư dân địa phương mà còn hướng tới một lượng lớn các nhà đầu tư từ nước ngoài. Trong đó các khách hàng đến từ Singapore, Nhật Bản, Hàn Quốc, Đài Loạn, Hồng Kông chiếm phần lớn trong doanh thu của chúng tôi thời gian gần đây.
						.col-lg-6
							.img-block.text-center.w-100
								img.w-100(src="./img/realplus/tuyendung/tuyendung_1.png", alt="").img-fluid
					
