section.tuyendung-workplace.section-with-logo(bg-img="./img/realplus/tuyendung/tuyendung_bg.png")
	article
		.container
			.row.mt-4
				.col-lg-6.pt-lg-3.left
					.gioithieu-block
						h3 văn hóa
						p.mb-3 Tại RealPlus, tất cả là anh em, chúng tôi tự hoàn thiện và duy trì hoạt động theo nguyên tắc: 
						p Hết lòng vì khách hàng, đặt lợi ích của khách hàng lên hàng đầu. Tạo mối quan hệ thân thiết và duy trì với khách hàng. 
						p Hỗ trợ đồng nghiệp hết mình, giúp đỡ hỗ trợ lẫn nhau để đạt được những kết quả tốt nhất. Luôn vận động bản thạn, tăng cường học tập tích luỹ kỹ năng, kinh nghiệm
				.col-lg-6.pt-lg-3.mt-3.mt-lg-0.right
					.gioithieu-block
						h3 môi trường làm việc
						ul
							li
								p Làm việc trong môi trường thân thiện năng động, có nhiều cơ hội phát triển bản thân.
							li
								p Lương/ thưởng hấp dẫn tuỳ vào năng lực của ứng viên.
							li
								p Nhân viên đều có cơ hội được làm việc, rèn luyện để hướng đến sự thành công trong nghề nghiệp đồng thời hoàn thiện về nhân cách.

							li
								p Làm việc giờ hành chính, được nghỉ Lễ Tết theo quy định nhà nước và các chế độ khác.
