section.duan-ct
	article.news-details
		.container
			.row
				.col-lg-8
					.news-read
						.general.mb-5
							h2.section-title Tổng quan
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, facilis provident. Optio ex porro nobis. Dolorem neque quae itaque corporis deserunt tempora esse aut! Corrupti assumenda distinctio commodi impedit necessitatibus.
							a.item-news-read(href="./img/realplus/tintuc/tintuc_ct_1.png")
								figure.figure
									img.img-fluid.img-thumbnail(src="./img/realplus/tintuc/tintuc_ct_1.png", alt="Lorem ipsum dolor, sit amet consectetur adipisicing elit.")
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, necessitatibus! Amet eveniet ducimus molestias iste ut ipsum corporis accusamus, voluptates officia mollitia ea laboriosam sequi hic, harum, quaerat at cumque. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, dolorum nemo ex nobis reiciendis possimus dolorem aliquid saepe? Eaque tempore architecto ratione fugiat facilis, dolorum illum ex sequi molestiae maxime!
						.details.mb-5
							h2.section-title Thông tin chi tiết
							table.table.table-striped
								tbody
									tr
										th(scope='row') Vị trí
										td Lorem ipsum dolor sit amet 
									tr
										th(scope='row') Vị trí
										td Lorem ipsum dolor sit amet 
									tr
										th(scope='row') Vị trí
										td Lorem ipsum dolor sit amet 
									tr
										th(scope='row') Vị trí
										td Lorem ipsum dolor sit amet 
									tr
										th(scope='row') Vị trí
										td Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt cum iusto pariatur veniam voluptatibus blanditiis, repellendus repellat harum hic consequatur nesciunt quisquam praesentium, repudiandae necessitatibus omnis commodi delectus maxime laborum.
									tr
										th(scope='row') Vị trí
										td Lorem ipsum dolor sit amet 
									tr
										th(scope='row') Vị trí
										td Lorem ipsum dolor sit amet 
						.location.mb-5
							h2.section-title Vị trí dự án
							a.item-news-read(href="./img/realplus/tintuc/tintuc_ct_1.png")
								figure.figure
									img.img-fluid.img-thumbnail(src="./img/realplus/tintuc/tintuc_ct_1.png", alt="Lorem ipsum dolor, sit amet consectetur adipisicing elit.")
				.col-lg-4.mb-5
					.contact(data-fix="80", data-fix-type="initial", data-fix-change="sticky")
						.lists
							.row
								.col-md-6.col-lg-12.mb-3.mb-md-0.mb-lg-3
									.item
										figure.figure
											.thumb(bg-img="./img/realplus/duan/staff.jpg")
											figcaption.figcaption
												ul.list-unstyled.list-info
													li 
														span.name Mr. Ngọc Phát
													li 
														span Senior Sales Manager
													li 
														span DĐ: 02455588875
													li 
														span Đt: 02455588875
												ul.list-inline.list-icon
													li.list-inline-item
														a(href="#")
															img(src="./img/realplus/_global/icon_zalo.jpg", alt="").icon
													li.list-inline-item
														a(href="#")
															img(src="./img/realplus/_global/icon_viber.png", alt="").icon
													li.list-inline-item
														a(href="#")
															img(src="./img/realplus/_global/icon_whatsapp.png", alt="").icon
								.col-md-6.col-lg-12
									.item
										figure.figure
											.thumb(bg-img="./img/realplus/duan/staff.jpg")
											figcaption.figcaption
												ul.list-unstyled.list-info
													li 
														span.name Mr. Ngọc Phát
													li 
														span Senior Sales Manager
													li 
														span DĐ: 02455588875
													li 
														span Đt: 02455588875
												ul.list-inline.list-icon
													li.list-inline-item
														a(href="#")
															img(src="./img/realplus/_global/icon_zalo.jpg", alt="").icon
													li.list-inline-item
														a(href="#")
															img(src="./img/realplus/_global/icon_viber.png", alt="").icon
													li.list-inline-item
														a(href="#")
															img(src="./img/realplus/_global/icon_whatsapp.png", alt="").icon
							


			.row.other
				.col-12.mb-3
					h2.section-title Dự án khác
				.col-sm-6.col-lg-4.text-center
					a(href="duan-chitiet.html")
						figure.figure
							.img-block
								img.img-fluid(src="./img/realplus/duan/duan_2.png", alt="Lorem ipsum dolor, sit amet consectetur adipisicing elit.")
								.title-block
									h3 Gem Riverside
										span.fa.fa-play
				.col-sm-6.col-lg-4.text-center
					a(href="duan-chitiet.html")
						figure.figure
							.img-block
								img.img-fluid(src="./img/realplus/duan/duan_2.png", alt="Lorem ipsum dolor, sit amet consectetur adipisicing elit.")
								.title-block
									h3 Gem Riverside
										span.fa.fa-play
				.col-sm-6.col-lg-4.text-center
					a(href="duan-chitiet.html")
						figure.figure
							.img-block
								img.img-fluid(src="./img/realplus/duan/duan_2.png", alt="Lorem ipsum dolor, sit amet consectetur adipisicing elit.")
								.title-block
									h3 Gem Riverside
										span.fa.fa-play
