section.giatri.page-section#value
	article
		.container-fluid
			.row.mt-4.mt-lg-0
				.col-lg-6.px-0.pt-lg-3
					.gioithieu-block.text-justify.text-md-left
						h2.section-title.text-left.mb-4.mt-4 Giá trị cốt lõi
						p Định hướng trở thành một trong những sàn giao dịch hàng đầu trong lĩnh vực bất động sản nói chung và thị trường căn hộ cao cấp nói riêng, Real Plus không ngừng nỗ lực và cố gắng trở thành cầu nối giữa đối tác và khách hàng của mình. 
						p Đội ngũ kinh nghiệm nhiều năm trong lĩnh vực bất động sản, tư vấn bán và giới thiệu những dự án cao cấp, giúp Real Plus tự tin mang sự yên tâm và hài lòng đến với khách hàng.
				.col-lg-6.px-lg-0.mt-0.d-flex.align-items-center.justify-content-center.justify-content-lg-start
					.img-block.text-center.w-100
						img(src="./img/realplus/gioithieu/gioithieu_1.png", alt="").img-fluid.w-100
					
