section.home-dichvu(bg-img='./img/realplus/home/home_dichvu.png')
	.container
		.feature
			.row
				.col-xs-12.col-lg-4.item.d-flex.align-items-center
					.feature-col
						h2 Dịch vụ hỗ trợ
				.col-xs-12.col-sm-6.col-lg-4.item
					a(href="#")
						.feature-col
							figure
								.icon
									img(src="./img/realplus/_global/phone_icon.png").img-fluid
								figcaption
									p.title Tự vấn giới thiệu
				.col-xs-12.col-sm-6.col-lg-4.mt-3.mt-sm-0.item
					a(href="#")
						.feature-col
							figure
								.icon
									img(src="./img/realplus/_global/home_icon.png").img-fluid
								figcaption
									p.title Thiết kế nội dung
