section.table-tuyendung
	article
		.container
			.row
				.col 
					h3 Vị trí tuyển dụng 
					.table-responsive
						table.table.table-striped
							thead
								tr
									th(scope='col') Vị trí ứng tuyển
									th(scope='col') 
									th(scope='col') Số lượng ứng tuyển
									th(scope='col') Địa điểm
									th(scope='col') Hạn nộp hồ sơ
							tbody
								tr
									td(scope='row')
										a(href="#") Sales team leader
									td 
										span mới
									td 05
									td Thành phố Hồ Chí Minh
									td 21.09.2018
								tr
									td(scope='row')
										a(href="#") Sales team leader
									td 
										span mới
									td 05
									td Thành phố Hồ Chí Minh
									td 21.09.2018
								tr
									td(scope='row')
										a(href="#") Sales team leader
									td 
										span mới
									td 05
									td Thành phố Hồ Chí Minh
									td 21.09.2018
								tr
									td(scope='row')
										a(href="#") Sales team leader
									td 
										span mới
									td 05
									td Thành phố Hồ Chí Minh
									td 21.09.2018
								tr
									td(scope='row')
										a(href="#") Sales team leader
									td 
										span mới
									td 05
									td Thành phố Hồ Chí Minh
									td 21.09.2018