section.canhcam-news-details-1
	article.news-details
		.container
			.row
				.col-lg-8
					.news-read
						h1 Hai quy tắc không nên bỏ qua khi 'mua nhà trên giấy'
						time 12/12/2017
						p.lead Mua căn hộ đang xây, khách cần yêu cầu doanh nghiệp trình 2 cơ sở pháp lý do Sở Xây dựng và ngân hàng phát hành.
						p Phó tổng giám đốc Công ty bất động sản Him Lam, Ngô Quang Phúc chia sẻ, hiện nay pháp luật đã quy định khá nhiều cơ sở pháp lý bảo vệ người mua nhà hình thành trong tương lai.
						p Trong một rừng pháp lý này, có 2 loại giấy tờ đơn giản và hiệu quả nhất là văn bản thông báo dự án đủ điều kiện bán nhà do Sở Xây dựng cấp và chứng thư bảo lãnh của ngân hàng. Khách hàng hoàn toàn có quyền yêu cầu được kiểm tra 2 loại giấy tờ được xem là chuẩn mực hiện nay. Nếu thiếu một trong 2 loại "giấy thông hành" này, khách hàng cần thận trọng khi quyết định bỏ tiền mua nhà.
						p
							a.item-news-read(href="./img/realplus/tintuc/tintuc_ct_1.png")
								figure
									img.img-fluid.img-thumbnail(src="./img/realplus/tintuc/tintuc_ct_1.png", alt="Lorem ipsum dolor, sit amet consectetur adipisicing elit.")
						p Trong khi đó, chứng thư bảo lãnh do ngân hàng cấp có ý nghĩa, nếu chủ đầu tư không bàn giao nhà đúng hẹn, tổ chức tín dụng sẽ thay chủ đầu tư bồi thường thiệt hại cho khách hàng. Chứng thư bảo lãnh có 2 dạng: một là cho vay tín chấp (dựa trên đánh giá uy tín doanh nghiệp), hai là cho vay có tài sản đảm bảo (tài sản thế chấp). Nếu mua nhà hình thành trong tương lai, kiểm tra có chứng thư này, khách hàng có thể yên tâm pháp lý của dự án đã được các tổ chức tín dụng sàng lọc nhiều khâu chặt chẽ. Đây cũng là điều khoản đã được quy định trong luật.
						p Theo điều 56 của Luật Kinh doanh Bất động sản sửa đổi có hiệu lực từ năm 2015, chủ đầu tư dự án trước khi bán, cho thuê mua nhà ở hình thành trong tương lai phải được ngân hàng thương mại bảo lãnh nghĩa vụ tài chính. Trường hợp chủ đầu tư không thực hiện bàn giao nhà ở theo tiến độ đã cam kết, bên mua, bên thuê mua có quyền yêu cầu ngân hàng hoàn lại số tiền ứng trước và các khoản tiền khác theo hợp đồng đã ký kết.
						p Điều khoản này đã được áp dụng gần 2 năm qua và đã góp phần làm tăng độ minh bạch, an toàn cho dự án và tránh rủi ro cho người mua nhà. Quy định này định vị các doanh nghiệp phát triển bất động sản theo 2 hướng. Một là bán, cho thuê nhà hình thành trong tương lai thì phải được ngân hàng thương mại bảo lãnh. Hai là nếu muốn né quy trình bảo lãnh thì doanh nghiệp buộc phải xây xong dự án mới được bán.
						p Ông Phúc cho biết thêm, ngoài 2 cơ sở pháp lý đơn giản và dễ dàng kiểm tra ở trên, để tránh rủi ro, nhà đầu tư, khách hàng mua nhà dự án có thể sàng lọc thông tin bằng một số phương pháp thủ công.
						p Chẳng hạn như tra cứu lịch sử hình thành và hoạt động của chủ đầu tư dự án trên các phương tiện thông tin đại chúng. Một cách khác cũng hiệu quả không kém là bỏ ra vài tiếng đồng hồ xuống địa bàn (khu vực dự án tọa lạc) để thực địa. Bạn hãy ngồi ở các quán xá gần dự án để nghe ngóng thông tin từ dân địa phương hoặc phỏng vấn ngẫu nhiên tại địa bàn này để nắm được những tin tức ngoài luồng so với các quảng cáo của môi giới bất động sản để có thêm cơ sở khi đưa ra quyết định đầu tư.
						.social-networks.nav
							.nav-item
								.fb-share-button(data-href='', data-layout='button', data-size='small', data-mobile-iframe='true')
									a.fb-xfbml-parse-ignore(target='_blank', href='') Chia sẻ
							.nav-item
								a.twitter-share-button(href='https://twitter.com/share', data-size='medium', data-text='custom share text', data-url='', data-via='twitterdev', data-related='twitterapi,twitter') Tweet
							.nav-item
								.g-plusone(data-size="tall")

				.col-lg-4
					.othernews(data-fix="80", data-fix-type="initial", data-fix-change="sticky")
						h2.section-title Tin tức khác
						.lists
							a.item(href="#")
								figure
									img(src="./img/realplus/tintuc/tintuc_ct_1.png", alt="alt")
									figcaption
										time 12/12/2019
										h3 Cận Cảnh Nguồn Cung Bất Động Sản Bùng Nổ Dọc Tuyến Cao Tốc TP.HCM - Long Thành - Dầu Giây
							a.item(href="#")
								figure
									img(src="./img/realplus/tintuc/tintuc_ct_1.png", alt="alt")
									figcaption
										time 12/12/2019
										h3 Cận Cảnh Nguồn Cung Bất Động Sản Bùng Nổ Dọc Tuyến Cao Tốc TP.HCM - Long Thành - Dầu Giây
							a.item(href="#")
								figure
									img(src="./img/realplus/tintuc/tintuc_ct_1.png", alt="alt")
									figcaption
										time 12/12/2019
										h3 Cận Cảnh Nguồn Cung Bất Động Sản Bùng Nổ Dọc Tuyến Cao Tốc TP.HCM - Long Thành - Dầu Giây

