section.home-gioithieu.section-with-logo
	article
		.container-fluid
			.row
				.col
					h2.section-title Giới thiệu
			.row.mt-4
				.col-lg-6.px-0.pt-lg-3
					.gioithieu-block.text-md-right
						p Định hướng trở thành một trong những sàn giao dịch hàng đầu trong lĩnh vực bất động sản nói chung và thị trường căn hộ cao cấp nói riêng, Real Plus không ngừng nỗ lực và cố gắng trở thành cầu nối giữa đối tác và khách hàng của mình. 
						p Đội ngũ kinh nghiệm nhiều năm trong lĩnh vực bất động sản, tư vấn bán và giới thiệu những dự án cao cấp, giúp Real Plus tự tin mang sự yên tâm và hài lòng đến với khách hàng.
					.viewmore-block.text-right.mt-md-3.mt-lg-5
						a(href="#").btn.btn-outline-danger Xem thêm
				.col-lg-6.px-lg-0.mt-3.mt-lg-0.d-flex.align-items-center.justify-content-center
					.img-block.text-center
						a(data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
							img(src="./img/realplus/home/home_gt_1.png", alt="").img-fluid
					
