header.canhcam-header-11
	.k-menu-bar.container
		#logo.mr-auto
		#language
		button.k-button-toggle.navbar-toggler(k-toggle-for="#demoResAllInOneMenu")
			i.mdi.mdi-menu
	#demoResAllInOneMenu.container.k-responsive-menu.d-lg-flex.justify-content-between.pb-0
		.k-menu-bar
			.k-logo.navbar-brand.mr-auto
				img(src="./img/realplus/_global/logo_w.png", alt="")
			button.k-button-toggle.navbar-toggler(k-toggle-for="#demoResAllInOneMenu")
				i.mdi.mdi-close
		.k-logo.navbar-brand(k-menu-map-to="#logo")
			img(src="./img/realplus/_global/logo.png", alt="")
		.nav.mainnav.w-100
			.topbar
				ul.list-inline.mb-0
					li.list-inline-item.phone(k-menu-map-to="#phone")
						span.mdi.mdi-phone.mr-3
						span 090 828 6669
					li.list-inline-item.search(k-menu-map-to="#search")
						span.mdi.mdi-magnify
						
					

			ul.nav
				li.nav-item.active
					a.nav-link(href='#') 
						span.d-lg-inline-block.d-none.mdi.mdi-home
						span.d-inline-block.d-lg-none Trang chủ
				li.nav-item
					a.nav-link(href='#') Giới thiệu
				li.nav-item
					a.nav-link(href='#') Dự án
				li.nav-item
					a.nav-link(href='#') Dịch vụ
				li.nav-item
					a.nav-link(href='#') Chăm sóc khách hàng
				li.nav-item
					a.nav-link(href='#') Tin tức
				li.nav-item
					a.nav-link(href='#') Tuyển dụng
				li.nav-item
					a.nav-link(href='#') Liên hệ
			#phone

