section.tuyendung-slider
	article
		.container
			.row
				.col
					.list
						.title
							h2 các vị trí khác
						.slider.owl-carousel.owl-theme
							a(href="#").item
								h3 Sales Executive
								ul.list-unstyled.list-inline 
									li.list-inline-item
										span.fa.fa-map-marker-alt
										span Hồ Chí Minh
									li.list-inline-item 
										span.fa.fa-user
										span 01
									li.list-inline-item 
										span.fa.fa-calendar
										span 31/09/2018
							a(href="#").item
								h3 Sales Executive
								ul.list-unstyled.list-inline 
									li.list-inline-item
										span.fa.fa-map-marker-alt
										span Hồ Chí Minh
									li.list-inline-item 
										span.fa.fa-user
										span 01
									li.list-inline-item 
										span.fa.fa-calendar
										span 31/09/2018
							a(href="#").item
								h3 Sales Executive
								ul.list-unstyled.list-inline 
									li.list-inline-item
										span.fa.fa-map-marker-alt
										span Hồ Chí Minh
									li.list-inline-item 
										span.fa.fa-user
										span 01
									li.list-inline-item 
										span.fa.fa-calendar
										span 31/09/2018
							a(href="#").item
								h3 Sales Executive
								ul.list-unstyled.list-inline 
									li.list-inline-item
										span.fa.fa-map-marker-alt
										span Hồ Chí Minh
									li.list-inline-item 
										span.fa.fa-user
										span 01
									li.list-inline-item 
										span.fa.fa-calendar
										span 31/09/2018
							a(href="#").item
								h3 Sales Executive
								ul.list-unstyled.list-inline 
									li.list-inline-item
										span.fa.fa-map-marker-alt
										span Hồ Chí Minh
									li.list-inline-item 
										span.fa.fa-user
										span 01
									li.list-inline-item 
										span.fa.fa-calendar
										span 31/09/2018
							a(href="#").item
								h3 Sales Executive
								ul.list-unstyled.list-inline 
									li.list-inline-item
										span.fa.fa-map-marker-alt
										span Hồ Chí Minh
									li.list-inline-item 
										span.fa.fa-user
										span 01
									li.list-inline-item 
										span.fa.fa-calendar
										span 31/09/2018