section.box-dichvu
	.container
		.row
			.col
				h2.section-title Dịch vụ
				.wrapper
					.row
						.col-md-6
							figure.figure
									.img-block
										img(src="./img/realplus/duan/duan_1.png", alt="").img-fluid
										.img-title
											h3 Masteri An Phú - Quận 2

						.col-md-6
							figure.figure
									.img-block
										img(src="./img/realplus/duan/duan_1.png", alt="").img-fluid
										.img-title
											h3 Masteri An Phú - Quận 2
					.row
						.col-md-6.col-lg-4.text-center
							figure.figure
								.img-block
									img(src="./img/realplus/duan/duan_2.png", alt="").img-fluid
									.img-title
										h3 Masteri An Phú - Quận 2
						.col-md-6.col-lg-4.text-center
							figure.figure
								.img-block
									img(src="./img/realplus/duan/duan_2.png", alt="").img-fluid
									.img-title
										h3 Masteri An Phú - Quận 2
						.col-md-12.col-lg-4.text-center
							figure.figure
								.img-block
									img(src="./img/realplus/duan/duan_2.png", alt="").img-fluid
									.img-title
										h3 Masteri An Phú - Quận 2
					