section.home-banner
	article.owl-carousel.owl-theme.list-items
		.item(bg-img="./img/realplus/home/home_banner.png")
			.title
				h1.h1 Real plus
				p Mang tinh hoa đến với mọi người
		.item(bg-img="./img/realplus/home/home_banner.png")
			.title
				h1.h1 Real plus
				p Mang tinh hoa đến với mọi người
		.item(bg-img="./img/realplus/home/home_banner.png")
			.title
				h1.h1 Real plus
				p Mang tinh hoa đến với mọi người
