section.home-tintuc
	article
		.container
			.row
				.col
					h2.section-title Tin tức
			.row.mt-4
				.col
					.tintuc-slider.owl-carousel.owl-theme
						.item
							a(href="#")
								figure.figure
									.img-block
										img(src="./img/realplus/tintuc/tintuc_1.png", alt="").img-fluid
									figcaption.figcaption.mt-4
										p.brief Cận Cảnh Nguồn Cung Bất Động Sản Bùng Nổ Dọc Tuyến Cao Tốc TP.HCM - Long Thành - Dầu Giây
						.item
							a(href="#")
								figure.figure
									.img-block
										img(src="./img/realplus/tintuc/tintuc_1.png", alt="").img-fluid
									figcaption.figcaption.mt-4
										p.brief Cận Cảnh Nguồn Cung Bất Động Sản Bùng Nổ Dọc Tuyến Cao Tốc TP.HCM - Long Thành - Dầu Giây
						.item
							a(href="#")
								figure.figure
									.img-block
										img(src="./img/realplus/tintuc/tintuc_1.png", alt="").img-fluid
									figcaption.figcaption.mt-4
										p.brief Cận Cảnh Nguồn Cung Bất Động Sản Bùng Nổ Dọc Tuyến Cao Tốc TP.HCM - Long Thành - Dầu Giây
						.item
							a(href="#")
								figure.figure
									.img-block
										img(src="./img/realplus/tintuc/tintuc_1.png", alt="").img-fluid
									figcaption.figcaption.mt-4
										p.brief Cận Cảnh Nguồn Cung Bất Động Sản Bùng Nổ Dọc Tuyến Cao Tốc TP.HCM - Long Thành - Dầu Giây
						.item
							a(href="#")
								figure.figure
									.img-block
										img(src="./img/realplus/tintuc/tintuc_1.png", alt="").img-fluid
									figcaption.figcaption.mt-4
										p.brief Cận Cảnh Nguồn Cung Bất Động Sản Bùng Nổ Dọc Tuyến Cao Tốc TP.HCM - Long Thành - Dầu Giây
								