section.tabs-tintuc.section-with-logo
	.container
		.row
			.col
				h2.section-title Dự án nổi bật
		.row.mt-3
			.col
				ul#ccTabs.nav.nav-tabs(role="tablist")
					li.nav-item
						a#cct-01-tab.nav-link.active(data-toggle="tab" href="#cct-01" role="tab" aria-controls="cct-01" aria-selected="true") Đã mở bán
					li.nav-item
						a#cct-02-tab.nav-link(data-toggle="tab" href="#cct-02" role="tab" aria-controls="cct-02" aria-selected="false") Sắp mở bán
				#ccTabsContent.tab-content
					#cct-01.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="cct-01-tab") 
						.slider-duan.owl-carousel.owl-theme
							.item
								.row
									.col-md-6
										figure.figure
											a(href="#")
												.img-block
													img(src="./img/realplus/duan/duan_1.png", alt="").img-fluid
													.img-title
														h3 Masteri An Phú - Quận 2
															span.fa.fa-play

									.col-md-6
										figure.figure
											a(href="#")
												.img-block
													img(src="./img/realplus/duan/duan_1.png", alt="").img-fluid
													.img-title
														h3 Masteri An Phú - Quận 2
															span.fa.fa-play
								.row
									.col-md-6.col-lg-4.text-center
										figure.figure
											a(href="#")
												.img-block
													img(src="./img/realplus/duan/duan_2.png", alt="").img-fluid
													.img-title
														h3 Masteri An Phú - Quận 2
															span.fa.fa-play
									.col-md-6.col-lg-4.text-center
										figure.figure
											a(href="#")
												.img-block
													img(src="./img/realplus/duan/duan_2.png", alt="").img-fluid
													.img-title
														h3 Masteri An Phú - Quận 2
															span.fa.fa-play
									.col-md-12.col-lg-4.text-center
										figure.figure
											a(href="#")
												.img-block
													img(src="./img/realplus/duan/duan_2.png", alt="").img-fluid
													.img-title
														h3 Masteri An Phú - Quận 2
															span.fa.fa-play
							.item
								.row
									.col-md-6
										figure.figure
											a(href="#")
												.img-block
													img(src="./img/realplus/duan/duan_1.png", alt="").img-fluid
													.img-title
														h3 Masteri An Phú - Quận 2
															span.fa.fa-play

									.col-md-6
										figure.figure
											a(href="#")
												.img-block
													img(src="./img/realplus/duan/duan_1.png", alt="").img-fluid
													.img-title
														h3 Masteri An Phú - Quận 2
															span.fa.fa-play
								.row
									.col-md-6.col-lg-4.text-center
										figure.figure
											a(href="#")
												.img-block
													img(src="./img/realplus/duan/duan_2.png", alt="").img-fluid
													.img-title
														h3 Masteri An Phú - Quận 2
															span.fa.fa-play
									.col-md-6.col-lg-4.text-center
										figure.figure
											a(href="#")
												.img-block
													img(src="./img/realplus/duan/duan_2.png", alt="").img-fluid
													.img-title
														h3 Masteri An Phú - Quận 2
															span.fa.fa-play
									.col-md-12.col-lg-4.text-center
										figure.figure
											a(href="#")
												.img-block
													img(src="./img/realplus/duan/duan_2.png", alt="").img-fluid
													.img-title
														h3 Masteri An Phú - Quận 2
															span.fa.fa-play


					#cct-02.tab-pane.fade(role="tabpanel" aria-labelledby="cct-02-tab") 
						.slider-duan.owl-carousel.owl-theme
							.item
								.row
									.col-md-6
										figure.figure
											a(href="#")
												.img-block
													img(src="./img/realplus/duan/duan_1.png", alt="").img-fluid
													.img-title
														h3 Masteri An Phú - Quận 2
															span.fa.fa-play

									.col-md-6
										figure.figure
											a(href="#")
												.img-block
													img(src="./img/realplus/duan/duan_1.png", alt="").img-fluid
													.img-title
														h3 Masteri An Phú - Quận 2
															span.fa.fa-play
								.row
									.col-md-6.col-lg-4.text-center
										figure.figure
											a(href="#")
												.img-block
													img(src="./img/realplus/duan/duan_2.png", alt="").img-fluid
													.img-title
														h3 Masteri An Phú - Quận 2
															span.fa.fa-play
									.col-md-6.col-lg-4.text-center
										figure.figure
											a(href="#")
												.img-block
													img(src="./img/realplus/duan/duan_2.png", alt="").img-fluid
													.img-title
														h3 Masteri An Phú - Quận 2
															span.fa.fa-play
									.col-md-12.col-lg-4.text-center
										figure.figure
											a(href="#")
												.img-block
													img(src="./img/realplus/duan/duan_2.png", alt="").img-fluid
													.img-title
														h3 Masteri An Phú - Quận 2
															span.fa.fa-play
							.item
								.row
									.col-md-6
										figure.figure
											a(href="#")
												.img-block
													img(src="./img/realplus/duan/duan_1.png", alt="").img-fluid
													.img-title
														h3 Masteri An Phú - Quận 2
															span.fa.fa-play

									.col-md-6
										figure.figure
											a(href="#")
												.img-block
													img(src="./img/realplus/duan/duan_1.png", alt="").img-fluid
													.img-title
														h3 Masteri An Phú - Quận 2
															span.fa.fa-play
								.row
									.col-md-6.col-lg-4.text-center
										figure.figure
											a(href="#")
												.img-block
													img(src="./img/realplus/duan/duan_2.png", alt="").img-fluid
													.img-title
														h3 Masteri An Phú - Quận 2
															span.fa.fa-play
									.col-md-6.col-lg-4.text-center
										figure.figure
											a(href="#")
												.img-block
													img(src="./img/realplus/duan/duan_2.png", alt="").img-fluid
													.img-title
														h3 Masteri An Phú - Quận 2
															span.fa.fa-play
									.col-md-12.col-lg-4.text-center
										figure.figure
											a(href="#")
												.img-block
													img(src="./img/realplus/duan/duan_2.png", alt="").img-fluid
													.img-title
														h3 Masteri An Phú - Quận 2
															span.fa.fa-play
