section.home-data-count(bg-img="./img/realplus/home/home_bg_1.png")
	article
		.container
			.row
				.col-md-4.text-center
					.count-item.mt-4.mt-md-0
						span(data-duration="8000" data-count="1500" data-top="30").with-plus 
					.count-title
						h2.mt-3.mb-0 Khách hàng
						span Đã hợp tác
				.col-md-4.text-center
					.count-item.mt-4.mt-md-0
						span(data-duration="8000" data-count="25" data-top="30") 
					.count-title
						h2.mt-3.mb-0 Dự án
						span Đã tham gia
				.col-md-4.text-center
					.count-item.mt-4.mt-md-0
						span(data-duration="8000" data-count="3000" data-top="30").with-plus 
					.count-title
						h2.mt-3.mb-0 Căn hộ
						span Đã được bán