extends _layout/layout.pug
block variables
	- var title = "index"
	- var description = "Description for index page"
	- var bodyclass = "index"
	- var href = "/index.html"
block header
	include ../lib/header/h-11/index.pug
block body
	include ../lib/slider/s-home/index.pug
	include ../lib/boxes/b-home-gioithieu/index.pug
	include ../lib/boxes/b-data-count/index.pug
	include ../lib/tabs/t-duan/index.pug
	include ../lib/boxes/b-home-dichvu/index.pug
	include ../lib/boxes/b-home-tintuc/index.pug
block footer
	include ../lib/footer/f-6/index.pug
