extends _layout/layout.pug
block variables
	- var title = "Tin tức chi tiết"
	- var description = "Description for index page"
	- var bodyclass = "index"
	- var href = "/tintuc-chitiet.html"
block header
	include ../lib/header/h-11/index.pug
block body
	include ../lib/breadcrumb/b-1/index.pug
	include ../lib/news-details/n-1/index.pug

block footer
	include ../lib/footer/f-6/index.pug
