.pages.newspager
	.modulepager
		ul.pagination
			li
				span
					i.fa.fa-chevron-left
			li
				a(href="#") 1
			li.active
				a(href="#") 2
			li
				a(href="#") 3
			li
				a(href="#") 4
			li
				span
					i.fa.fa-chevron-right
