section.nav-gioithieu
	article
		.container
			.row
				.col
					a(href="javascript:void(0)").d-lg-none.toggle Menu
						span.mdi.mdi-arrow-down-drop-circle 
					nav#navbar
						ul.nav.flex-column.flex-lg-row
							li.nav-item
								a(href="#intro").nav-link.pl-0.pl-lg-3.active Giới thiệu
							li.nav-item
								a(href="#vision").nav-link.pl-0.pl-lg-3 Tầm nhìn sứ mệnh
							li.nav-item
								a(href="#value").nav-link.pl-0.pl-lg-3 Giá trị cốt lõi
							li.nav-item
								a(href="#history").nav-link.pl-0.pl-lg-3 Lịch sử phát triển
							li.nav-item
								a(href="#member").nav-link.pl-0.pl-lg-3 Đội ngũ chủ chốt
