section.lichsu.page-section#history(bg-img="./img/realplus/gioithieu/gioithieu_bg.jpg")
	article.about-list
		.container
			h2.section-title Lịch sử phát triển
			.content-list.owl-carousel.owl-theme#sync1
				- for(x=1;x<13;x++)
					.content
						.row
							.col-lg-6
								figure
									img(src="./img/realplus/gioithieu/gioithieu_1.png", alt="", srcset="")
							.col-lg-6
								figure
									figcaption
										h3 2011
										p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut beatae aspernatur iusto aperiam rem, doloribus enim voluptatum, expedita cupiditate dolorum omnis! Nostrum illum, maxime nesciunt facere nisi voluptatem eos enim?
					.content
						.row
							.col-lg-6
								figure
									img(src="./img/realplus/gioithieu/gioithieu_1.png", alt="", srcset="")
							.col-lg-6
								figure
									figcaption
										h3 2011
										p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut beatae aspernatur iusto aperiam rem, doloribus enim voluptatum, expedita cupiditate dolorum omnis! Nostrum illum, maxime nesciunt facere nisi voluptatem eos enim?
					.content
						.row
							.col-lg-6
								figure
									img(src="./img/realplus/gioithieu/gioithieu_1.png", alt="", srcset="")
							.col-lg-6
								figure
									figcaption
										h3 2011
										p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut beatae aspernatur iusto aperiam rem, doloribus enim voluptatum, expedita cupiditate dolorum omnis! Nostrum illum, maxime nesciunt facere nisi voluptatem eos enim?
					.content
						.row
							.col-lg-6
								figure
									img(src="./img/realplus/gioithieu/gioithieu_1.png", alt="", srcset="")
							.col-lg-6
								figure
									figcaption
										h3 2011
										p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut beatae aspernatur iusto aperiam rem, doloribus enim voluptatum, expedita cupiditate dolorum omnis! Nostrum illum, maxime nesciunt facere nisi voluptatem eos enim?
					.content
						.row
							.col-lg-6
								figure
									img(src="./img/realplus/gioithieu/gioithieu_1.png", alt="", srcset="")
							.col-lg-6
								figure
									figcaption
										h3 2011
										p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut beatae aspernatur iusto aperiam rem, doloribus enim voluptatum, expedita cupiditate dolorum omnis! Nostrum illum, maxime nesciunt facere nisi voluptatem eos enim?
					.content
						.row
							.col-lg-6
								figure
									img(src="./img/realplus/gioithieu/gioithieu_1.png", alt="", srcset="")
							.col-lg-6
								figure
									figcaption
										h3 2011
										p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut beatae aspernatur iusto aperiam rem, doloribus enim voluptatum, expedita cupiditate dolorum omnis! Nostrum illum, maxime nesciunt facere nisi voluptatem eos enim?
					.content
						.row
							.col-lg-6
								figure
									img(src="./img/realplus/gioithieu/gioithieu_1.png", alt="", srcset="")
							.col-lg-6
								figure
									figcaption
										h3 2011
										p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut beatae aspernatur iusto aperiam rem, doloribus enim voluptatum, expedita cupiditate dolorum omnis! Nostrum illum, maxime nesciunt facere nisi voluptatem eos enim?
					.content
						.row
							.col-lg-6
								figure
									img(src="./img/realplus/gioithieu/gioithieu_1.png", alt="", srcset="")
							.col-lg-6
								figure
									figcaption
										h3 2011
										p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut beatae aspernatur iusto aperiam rem, doloribus enim voluptatum, expedita cupiditate dolorum omnis! Nostrum illum, maxime nesciunt facere nisi voluptatem eos enim?
					.content
						.row
							.col-lg-6
								figure
									img(src="./img/realplus/gioithieu/gioithieu_1.png", alt="", srcset="")
							.col-lg-6
								figure
									figcaption
										h3 2011
										p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut beatae aspernatur iusto aperiam rem, doloribus enim voluptatum, expedita cupiditate dolorum omnis! Nostrum illum, maxime nesciunt facere nisi voluptatem eos enim?
			
			.nav-list
				.nav.owl-carousel.owl-theme#sync2
					.item
						h5 1999
					.item
						h5 2001
					.item
						h5 2002
					.item
						h5 2003
					.item
						h5 2005
					.item
						h5 2007
					.item
						h5 2010
					.item
						h5 2011
					.item
						h5 2012
