section.tuyendung-footer
	article
		.container
			.row.mt-4
				.col-md-6
					.block.text-center
						.icon
							img(src="./img/realplus/_global/bars_icon.png", alt="")
						.content
							h3.mb-md-3 Quyền lợi
							p Được ký hợp đồng, đóng BHYT - BHXH - BHTN theo quy định của nhà nước
							p Được tạo điều kiện thuận lợi trong việc thăng tiến
							p Du lịch hằng năm và nhiều đãi ngộ khác
				.col-md-6.mt-5.mt-md-0
					.block.text-center
						.icon
							img(src="./img/realplus/_global/cv_icon.png", alt="")
						.content
							h3.mb-md-3 Hình thức ứng tuyển
							p Vui lòng gửi CV hoặc portfolio đến hộp thư: 
								a(href="#") tuyendung@RealPlus.vn, 
								br
								a(href="") Cc: nhut.bui@RealPlus.vn

