section.realplus-news
	article
		.container
			.row
				.col
					h2.section-title Tin tức
			.row.mt-4
				.col-lg-6.hot-news.mb-2
					a(href="#")
						figure.figure
							.imgblock(bg-img="./img/realplus/tintuc/tintuc_1.png", alt="")
								.title-block
									h3 Cận Cảnh Nguồn Cung Bất Động Sản Bùng Nổ Dọc Tuyến Cao Tốc TP.HCM - Long Thành - Dầu Giây

				.col-lg-6.part-news
					a(href="#")
						figure
							.imgblock
								img(src="./img/realplus/tintuc/tintuc_big.png", alt="").img-fluid
							figcaption.figcation.ml-sm-3.p-lg-0
								.title-block
									time 20/9/2018
									p Cận Cảnh Nguồn Cung Bất Động Sản Bùng Nổ Dọc Tuyến Cao Tốc TP.HCM - Long Thành - Dầu Giây
					a(href="#")
						figure.figure
							.imgblock
								img(src="./img/realplus/tintuc/tintuc_big.png", alt="").img-fluid
							figcaption.figcation.ml-sm-3.p-lg-0
								.title-block
									time 20/9/2018
									p Cận Cảnh Nguồn Cung Bất Động Sản Bùng Nổ Dọc Tuyến Cao Tốc TP.HCM - Long Thành - Dầu Giây
					a(href="#")
						figure.figure
							.imgblock
								img(src="./img/realplus/tintuc/tintuc_big.png", alt="").img-fluid
							figcaption.figcation.ml-sm-3.p-lg-0
								.title-block
									time 20/9/2018
									p Cận Cảnh Nguồn Cung Bất Động Sản Bùng Nổ Dọc Tuyến Cao Tốc TP.HCM - Long Thành - Dầu Giây
			.row.other-news.mt-lg-4
				.col-sm-6.col-lg-4
					a(href="#")
						figure.figure
								.imgblock
									img(src="./img/realplus/tintuc/tintuc_m.png", alt="").img-fluid
								figcaption.figcation
									.title-block
										time 20/9/2018
										p Cận Cảnh Nguồn Cung Bất Động Sản Bùng Nổ Dọc Tuyến Cao Tốc TP.HCM - Long Thành - Dầu Giây
				.col-sm-6.col-lg-4
					a(href="#")
						figure.figure
								.imgblock
									img(src="./img/realplus/tintuc/tintuc_m.png", alt="").img-fluid
								figcaption.figcation
									.title-block
										time 20/9/2018
										p Cận Cảnh Nguồn Cung Bất Động Sản Bùng Nổ Dọc Tuyến Cao Tốc TP.HCM - Long Thành - Dầu Giây
				.col-sm-6.col-lg-4
					a(href="#")
						figure.figure
								.imgblock
									img(src="./img/realplus/tintuc/tintuc_m.png", alt="").img-fluid
								figcaption.figcation
									.title-block
										time 20/9/2018
										p Cận Cảnh Nguồn Cung Bất Động Sản Bùng Nổ Dọc Tuyến Cao Tốc TP.HCM - Long Thành - Dầu Giây