footer.canhcam-footer-6(bg-img='./img/realplus/_global/footer_bg.png')
	.linkfooter
		.container
			.row.border-bottom.pb-5
				.col-sm-6.col-lg-3
					h4.text-center.text-sm-left.mb-2 Dự án
					nav.list-group.text-center.text-sm-left
						.list-group-item
							a(href="#") Dự án đã bán
						.list-group-item
							a(href="#") Dự án sắp mở bán
				.col-sm-6.col-lg-3.mt-5.mt-sm-0
					h4.text-center.text-sm-left.mb-2 Dịch vụ hỗ trợ
					nav.list-group.text-center.text-sm-left
						.list-group-item
							a(href="#") Tư vấn giới thiệu
						.list-group-item
							a(href="#") Thiết kế nội thất
				.col-sm-6.col-lg-3.mt-5.mt-lg-0
					h4.text-center.text-sm-left.mb-2 Liên kết nhanh
					nav.list-group.text-center.text-sm-left
						.list-group-item
							a(href="#") Về Real Plus
						.list-group-item
							a(href="#") Tin tức
						.list-group-item
							a(href="#") Tuyển dụng
						.list-group-item
							a(href="#") Chăm sóc khách hàng
				.col-sm-6.col-lg-3.mt-5.mt-lg-0
					h4.text-center.text-sm-left.mb-2.register Đăng ký nhận bản tin
					nav.list-group.text-center.text-sm-left
						.list-group-item
							p.text-center.text-sm-left Cập nhật những thông tin dự án mới nhất và ưu đãi từ Real Plus
						.list-group-item
							.input-group
								input.form-control(type="text" placeholder="Nhập email...")
								.input-group-append
									span.input-group-text.mdi.mdi-email
							</div>
							</div>
	.copyright
		.container
			.row.align-items-center
				.col-md-4.mb-4.mb-md-0.d-flex.justify-content-center
					nav.list-group.d-flex.flex-column.align-items-center
						.list-group-item
							.logo-wrapper
								img(src="./img/realplus/_global/logo_w.png", alt="")
						.list-group-item
							ul.list-inline.social-list.mt-3
								li.list-inline-item
									a(href="#")
										span.mdi.mdi-facebook
								li.list-inline-item
									a(href="#")
										span.mdi.mdi-google-plus
								li.list-inline-item
									a(href="#")
										span.mdi.mdi-twitter
								li.list-inline-item
									a(href="#")
										span.mdi.mdi-youtube
				.col-md-8.d-flex.justify-content-start 
					nav.list-group.d-flex.flex-column
						.list-group-item
							h4.mb-2 công ty cổ phần real plus
						.list-group-item
							p Shophouse 03 - 04, Block B , Tower 5 Xa Lộ Hà Nội, Phường Thảo Điền, Quận 2, TP Hồ Chí Minh
							p T:   090 828 6669
							p E:   info@RealPlus.vn
						.list-group-item
							p © 2018 CÔNG TY CỔ PHẦN REALPLUS. All Rights Reserved. Designed by 
								a(href="") Cánh Cam.
							
						


