footer.canhcam-footer-6(bg-img='./img/realplus/_global/footer_bg.png')
	.linkfooter
		.container
			.row
				.col-md-12.col-lg-3
					h4.text-center.text-md-left Dự án
					ul.list-unstyled.pl-0 
						li 
							a(href="#") Dự án đã mở bán
						li 
							a(href="#") Dự án sắp mở bán
				.col-md.col-lg-3.mt-5.mt-lg-0
					h4.text-center.text-md-left Product
					nav.list-group.text-center.text-md-left
						.list-group-item
							a(href="#") Textile
						.list-group-item
							a(href="#") Caps
						.list-group-item
							a(href="#") Golf Bags
				.col-md.col-lg-3.mt-5.mt-lg-0
					h4.text-center.text-md-left Product
					nav.list-group.text-center.text-md-left
						.list-group-item
							a(href="#") Textile
						.list-group-item
							a(href="#") Caps
						.list-group-item
							a(href="#") Golf Bags
				.col-md.col-lg-3.mt-5.mt-lg-0
					h4.text-center.text-md-left Product
					nav.list-group.text-center.text-md-left
						.list-group-item
							a(href="#") Textile
						.list-group-item
							a(href="#") Caps
						.list-group-item
							a(href="#") Golf Bags
	.copyright
		.container
			.row.align-items-center
				.col-md.text-center.text-md-left.mb-4.mb-md-0
					nav.list-group.text-center.text-md-left
						.list-group-item
							a(href="#") Textile lorem hh
						.list-group-item
							a(href="#") Caps jgj g g gg
						.list-group-item
							a(href="#") Golf Bags
				.col-md-auto.text-center.text-md-right 2018 by Canh Cam. All right reserved. designed by Canh Cam
